<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Bombando
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="dark">
    <ion-refresher color="dark" slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-down"
        pullingText="Puxe para recarregar">
      </ion-refresher-content>
    </ion-refresher>
      <ion-card *ngFor="let article of articles">
          <ion-img src="{{article.urlToImage}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              {{article.description}}
            </p>
            <ion-button ion-button fill="outline" href="{{article.url}}" large>Ler no site</ion-button>
      
          </ion-card-content>
        </ion-card>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="carregarMaisNoticias($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Carregando mais notícias...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="ScrollToTop()">
              <ion-icon name="arrow-dropup"></ion-icon>
            </ion-fab-button>
          </ion-fab>
  </ion-content>

  